<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <img src="assets/pict/home.png" />

  <div id="SearchBar">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Ketik di sini"></ion-searchbar>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">A</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="A"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <!-- <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">B</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="B"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">C</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="C"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">D</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="D"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">E</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="E"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">F</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="F"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">G</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="G"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">H</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="H"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">I</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content()" *ngIf='data.data[0]=="J"'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div> -->

</ion-content>
