<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <img src="assets/pict/home.png" />

  <div id="SearchBar">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Ketik di sini"></ion-searchbar>
  </div>

  <div [hidden]="search == false">
      <div *ngFor="let data of list_search">
        <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.id!=1&&data.id!=2'>
          <p class="ContentListWord">{{data.data}}</p>
        </ion-item>
      </div>
  </div>

<div [hidden]="search == true">
  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">A</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="A"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">B</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="B"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">C</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="C"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">D</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="D"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">E</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="E"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">F</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="F"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">G</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="G"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">H</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="H"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">I</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="I"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">J</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="J"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">K</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="K"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">L</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="L"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">M</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="M"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">N</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="N"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">O</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="O"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">P</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="P"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">Q</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="Q"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">R</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="R"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">S</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="S"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">T</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="T"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">U</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="U"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">V</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="V"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">W</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="W"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">X</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="X"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">Y</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="Y"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-card class="HeaderList">
      <ion-card-content>
        <p class="HeaderListWord">Z</p>
      </ion-card-content>
    </ion-card>
    <div *ngFor="let data of list">
      <ion-item text-wrap class="ContentList" (click)="Content(data)" *ngIf='data.data[0]=="Z"&&data.id!=1&&data.id!=2'>
        <p class="ContentListWord">{{data.data}}</p>
      </ion-item>
    </div>
  </div>
</div>

</ion-content>
