// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
    font-family: Ormont_Light;
    src: url(../assets/fonts/Hoefler_Text.ttf) format("ttf");
    font-weight: 200
}
    


.MenuColor{
    background-color: #0d65ac;
}

.MenuTitle {
    height: 20vh;
    text-align: center;
}

.MenuContent {
    position: relative;
    bottom: 20vh;
}

.MenuTitleFont {
    font-family: Hoefler_Text !important;
    font-size: 10vw;
    font-weight: 400;
}

.MenuTitleFont2 {
    font-family: Hoefler_Text !important;
    font-size: 8vw;
    font-weight: 400;
}

.MenuColorContent {
    align-items: center;
    background-color: #0d65ac;
    margin: 0 5% 0 5%;

    width: 85%;

    //font
    color: white;
    font-size: 5vw;
    font-weight: 400;
}
