<ion-header>

  <ion-navbar>
    <ion-title><div class="Title">{{title}}</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-wrap class="youngblue">

    <div class="Header">
      <p>{{title}}</p>
    </div>

    <div class="Content" *ngFor="let data of content">
      <p>{{data.jawab}}</p>
    </div>
<!--
    <div class="Content">
      <p>Adalah peristiwa dimana TKI dalam perjalanan kembali ke tempat tinggalnya di daerah asal. Kepulangan TKI bisa diakibatkan karena kontrak kerja berakhir, curi atau bermasalah.
      </p>
      <p>
        1.Apakah alasan-alasan TKI sulit untuk dipulangkan ke Indonesia? Apakah masing-masing Negara mempunyai tingkat kesuliatan berbeda untuk kepulangan TKI?
      </p>
      <p>
        2.Bagaimana proses pemulangan TKI yang sudah habis kontrak ke kota domisili TKI agar TKI terhindar dari oknum-oknum yang tidak bertanggungjawab?
      </p>
    </div>-->
    
    <br />

    <div class="Header" *ngFor="let data of lampiran">
      <p>Lampiran</p>
    </div>

    <div class="Footer" *ngFor="let data of lampiran">
      <p>{{data.filename}}<a>Unduh</a></p>
    </div>

</ion-content>
